/* classes */
.one,
.two {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 30px;
}

.one {
  background-color: black;
  color: rgb(200, 222, 200);
}

.two {
  background-color: rgb(255, 217, 0);
}
